@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply text-black;
        @apply border-black;
        @apply font-calluna;
        @apply overflow-y-scroll;
        @apply lining-nums;
        font-size: 20px;
        line-height: 30px;
    }

    input[type='checkbox'] {
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
        font: inherit;
        @apply text-black;
        width: 0.9rem;
        height: 0.9rem;
        @apply border-2;
        @apply border-black;
        transform: translateY(0.1rem);
    }

    input[type='checkbox']:checked {
        background-image: url('images/tick.svg');
    }

    p {
        @apply text-teal;
    }
}
