:root {
  --colour-text: #001819;
  --colour-accent: #004c48;
  --colour-background: #f5f7f7;
  --colour-button: #cad8dc;
  --colour-button-hover: #dbe5e5;
  --colour-heading-background: #cad8dc;
  --colour-disabled: #8eb2b2;
  --colour-button-select: #cad8dc;

  --font-body: calluna;
  --font-heading: trajan-pro-3, serif;

  --font-size: 20px;
  --line-height: 30px;

  --font-size-xs: 0.8rem;
  --font-size-sm: 0.9rem;
  --font-size-base: 1rem;
  --font-size-xl: 1.6rem;
  --font-size-2xl: 2rem;
  --font-size-4xl: 3.2rem;

  --letter-spacing-tight: -0.02em;
  --letter-spacing-normal: 0em;

  --line-height-none: 1;
  --line-height-tight: 1.2;
  --line-height-normal: 1.5;

  --h1-border-colour: var(--colour-text);
  --h2-border-colour: var(--colour-text);
  --h3-border-colour: var(--colour-accent);
  --h4-border-colour: var(--colour-accent);

  --h1-font-weight: 600;
  --h1-font-weight-md: 600;
  --h2-font-weight: 600;
  --h2-font-weight-md: 400;
  --h3-font-weight: 700;
  --h3-font-weight-md: 600;
  --h4-font-weight: 700;
  --h4-font-weight-md: 700;
}
