:root {
  --colour-text: #001819;
  --colour-accent: #004c48;
  --colour-background: #f5f7f7;
  --colour-button: #cad8dc;
  --colour-button-hover: #dbe5e5;
  --colour-heading-background: #cad8dc;
  --colour-disabled: #8eb2b2;

  --font-body: calluna;
  --font-heading: trajan-pro-3, serif;
}
