:root {
  --colour-black: #001819;
  --colour-white: #e5e5e5;
  --colour-teal: #004c48;
  --colour-grey-100: #f5f7f7;
  --colour-grey-200: #dbe5e5;
  --colour-grey-default: #cad8dc;
  --colour-grey-300: #cad8dc;
  --colour-grey-400: #a7c3c3;
  --colour-grey-500: #8eb2b2;

  --font-body: calluna;
  --font-heading: trajan-pro-3, serif;
}
