.theme {
  --colour-text: #FAFAFA;
  --colour-background: #111B24;
  --colour-accent: #ff1053;
  --colour-grey-100: #ffb600;
  --colour-grey-200: #ffb600;
  --colour-grey-default: #ffb600;
  --colour-grey-300: #ffb600;
  --colour-grey-400: #ffb600;
  --colour-grey-500: #ffb600;

  --font-body: calluna;
  --font-heading: trajan-pro-3, serif;
}
