.theme {
  --colour-text: #FAFAFA;
  --colour-accent: #ff1053;
  --colour-background: #111B24;
  --colour-button: #ffb600;
  --colour-button-hover: #ffb600;
  --colour-heading-background: #ffb600;
  --colour-disabled: #ffb600;

  --font-body: artifex-hand-cf, sans-serif;
  --font-heading: Rakkas, sans-serif;

  --font-size: 20px;
  --line-height: 30px;

  --font-size-xs: 0.8rem;
  --font-size-sm: 0.9rem;
  --font-size-base: 1rem;
  --font-size-xl: 1.6rem;
  --font-size-2xl: 2rem;
  --font-size-4xl: 3.2rem;

  --letter-spacing-tight: -0.02em;
  --letter-spacing-normal: 0em;

  --line-height-none: 1;
  --line-height-tight: 1.2;
  --line-height-normal: 1.5;
}
