.theme {
  --colour-text: #FAFAFA;
  --colour-accent: #ff1053;
  --colour-background: #111B24;
  --colour-button: #ffb600;
  --colour-button-hover: #ffb600;
  --colour-heading-background: #ffb600;
  --colour-disabled: #ffb600;

  --font-body: artifex-hand-cf, sans-serif;
  --font-heading: Rakkas, sans-serif;
}
