.theme {
  --colour-text: #000;
  --colour-accent: #f00;
  --colour-background: #ccc;
  --colour-button: #666;
  --colour-button-hover: #aaa;
  --colour-heading-background: #888;
  --colour-disabled: #222;

  --font-body: sans-serif;
  --font-heading: "Comic Sans MS";
}