.theme {
  --colour-text: #000;
  --colour-accent: #f64816 ;
  --colour-background: #ffffff;
  --colour-button: #FF8360;
  --colour-button-hover: #FF8360;
  --colour-heading-background: #FF997B;
  --colour-disabled: #FF997B;


  --font-body: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  --font-heading: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}