.theme {
  --colour-text: #001919;
  --colour-accent: #f64816 ;
  --colour-background: #f5f7f7;
  --colour-button: #f5f7f7;
  --colour-button-hover: #f64816;
  --colour-heading-background: #001919;
  --colour-disabled: #FF997B;


  --font-body: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  --font-heading: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}